body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    /* text-align: center; */
    font-family: 'Open Sans', sans-serif;
}
   .center {
    float: center;
    text-indent: 50px;
  }
.container{
    max-width: 1536px;
    background: gray;
}   
.auto{
    margin-left: auto;
    margin-top: auto;
    margin-top: 10em;
}         

.right-element {
    float: right;
    width: 25%;
}
/* .img {
    display: block;
    margin: auto;
    max-width: auto;
    background-color: lightgray;
} */
h1, h2, h3 {
    color: #333;
    text-align: center;
                  text-shadow: 1px 1px;
}
  p {
    font-size:auto;
  }
table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    background-color: lightgray;
    text-align: center;
}
td, th {
    border: 1px solid #ccc;
    padding: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
                .link {
                    float:left;
                }
.grid{
display: grid;
grid-template: 
"header header header"
"body body right"
"body body right"
"footer footer footer";
padding:15px;
background-color: lightgray;
}
.right-item {
grid-area:right;
border: solid;
}
.body-item {
grid-area:body;
border: solid;
}
.footer-item{
grid-area:footer;
border:outset;
}
.header-item{
grid-area:header;
}
.gap{
margin:10px;
}
@media (max-width:1300px){
    .right-element{
        width: auto;
    }
    .body-item{
        width: auto;
    }
    .footer-item{
        width: auto;
    }
    .header-item{
        width: auto;
    }
}