body {
    font-family: Arial, sans-serif;
    background-color: lightblue!important;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
   .center {
    text-align: center;
    float: center;
    text-indent: 50px;
    width: auto;
  }
.container{
    max-width: 1536px;
    background: gray;
}   
.auto{
    margin-left: auto;
    margin-top: auto;
    margin-top: 10em;
}         

.right-element {
    float: right;
    width: 25%;
}
h1, h2, h3 {
    color: #333;
    text-align: center;
    text-shadow: 1px 1px;
}
  p {
    font-size:auto;
  }
  a {
    color:  #0000ff!important;
  }
table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    background-color: lightgray;
    text-align: center;
}
td, th {
    border: 1px solid #ccc;
    padding: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.link {
    float:left;
}
.grid{
    display: grid;
    grid-template: 
    "header header header"
    "body body right"
    "body body right"
    "footer footer footer";
    padding:15px;
}
.right-item {
    grid-area:right;
    border: solid;
}
.body-item {
    grid-area:body;
    border: solid;
    background-color: lightgray;
}
.footer-item{
    grid-area:footer;
    border:outset;
    background-color: lightgray;
}
.header-item{
    grid-area:header;
    background-color: lightgray;
}
.gap{
    margin:10px;
}
.hover img {
    transition: filter 0.3s ease;
}
  
.hover img:hover {
    filter: brightness(50%);
}
.flex{
    display: flex;
    justify-content: center;
    margin-top: 4em;
}
.modal-body {
    display: flex;
    flex-direction: column;
}

.modal-body label, 
.modal-body input {
    width: 100%;
    margin-bottom: 10px;
}

/* Media scaling for smaller devices */

@media (max-width:1300px){
    
    .right-element{
        width: auto;
    }
    .body-item{
        width: auto;
        background-color: lightgray;
    }
    .footer-item{
        width: auto;
        background-color: lightgray;
    }
    .header-item{
        width: auto;
        height: 2em;
    }
}
/* NavBar */
.navbar {
    background-color: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #ddd;
    transform: scale(1.2);
}
/* Dark Mode Button */
.dark-mode {
    background-color: darkgray !important;
    color: darkgray !important;
}

.dark-mode .grid {
    background-color: darkgray !important;
    color: white !important;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode .container,
.dark-mode .left,
.dark-mode .body-item,
.dark-mode .header-item,
.dark-mode .right-element,
.dark-mode .flex {
    background-color: black !important;
    color: white !important;
    border-color: darkgray !important;
}
.dark-mode .center {
    background-color: #363333 !important;
    border-color: darkgray !important;
}
.dark-mode .navbar {
    background-color: darkgray !important;
    color: white !important;
    border-color: darkgray !important;
}
.dark-mode .footer-item,
.dark-mode .footer-item table {
    background-color: black !important;
    color: white !important;
    border-color: darkgray !important;
}